



/* login */
#login-screen {
	text-align: center;
	background: #0DC5C1;
	padding-top: 40px;
	height: 370px;
}
#login-form {
	margin: auto;
	width: 500px;
	padding: 10px 50px 30px;
}
#login-form table{
	margin-top: 20px;
	width: 100%;
}

#login-form table td{
	padding: 10px;
	width: 50%;
}
#login-form label {
	font-weight: bold;
	color: white;
	font-size: 13px;
}

#login-form input {
	padding: 7px;
	margin-top: 2px;
	width: 100%;
}
#login-form button {
	padding: 15px;
	width: 100%;
	font-size: 18px;
}

.logout-container {
	right: 30px;
	display: none;
	position: absolute; 
	width: 300px; 
	margin-top: -50px; 
	text-align: right;
}


#login-loading {
	margin-top: 110px;
}



/* ajax loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

